<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/style.css" type="text/css">
        <title>Weather App</title>
        <script src="../app.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>{{title}} </h1>

        <h3>{{ name }}</h3>
    </body>
</html>